*{
    margin: 0;
    padding: 0;
} 
.vuong{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
    margin: 10px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}